body {
  background-color: white;
}

nav {
  background-color: black;

  .dropdown-menu img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .dropdown-toggle img {
    width: 40px;
    height: 40px;
  }
  .navbar-brand img {
    width: 120px;
    overflow: hidden;
  }
}

#settings {
  max-width: 900px;
  margin-inline: auto;
}

#cancel {
  border-radius: 0;
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
#cancel:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: red;
  z-index: -1;
  transition: width 450ms ease-in-out;
}
#cancel:hover {
  color: #fff;
}
#cancel:hover:after {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(0, 166, 255);
}

.image-profile img {
  width: 40px;
  height: 40px;
}

p {
  margin-bottom: 0;
}

#search:hover {
  background-color: rgba(106, 106, 106, 0.595);
}
